*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 23px;
	line-height: 33px;
	font-family: "Source Sans Pro","PT Sans",sans-serif;
	color: #333;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #258fb8;
	text-decoration: underline;
}
p{
	margin-top: 10px;
}
h1{
	font-style: italic;
}
h3{
	margin-top: 20px;
	text-align: left;
	border-bottom: 1px dashed #B6B6B6;
}
h4{
	margin-top: 20px;
}
blockquote{
	background-color: #F7F7F7;
	font-style: italic;
	font-size: 0.9em;
	border-left: 5px solid #258fb8;
	margin-top: 10px;
	padding: 15px 20px;
}
header{
	padding-top: 50px;
	width: 100%;
	opacity:.6;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	-ms-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
header h2{
	width: 90%;
	margin: 10px 0 10px 0;
}
header nav{
	margin: auto;
	width: 50%;
	font-size: 0.8em;
}
header nav ul{
	text-align: left;
	list-style-type: none;
	line-height: 30px;
}
#container{
	width: 100%;
	min-height: 100%;
}
#left-col{
	width: 20%;
	height: 100%;
	background-color: #232323;
	text-align: center;
	position: fixed;
	color: white;
}
#right-col{
	width: 80%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
	min-height: 100%;
}
#right-col article{
	padding: 30px 70px 0 100px;
	max-width: 65%;
}
footer{
	text-align: center;
	border-top: 1px dashed #B6B6B6;
	font-size: 0.6em;
	line-height: 20px;
	padding: 10px 0 10px 0;
}
footer a{
	color: #258fb8;
}
article a{
	color: #258fb8;
	text-decoration: none;
}
section{
	margin-bottom: 30px;
	text-align: justify;
	font-weight: 300;
}
section h2{
	margin-bottom: 10px;
	border-bottom: 1px solid #B6B6B6;
	padding-bottom: 10px;
}
section ul{
	margin: 10px 0 10px 40px;
}
pre{
	padding-top: 10px;
	line-height: 20px;
	font-size: 0.7em;
	margin: 15px 0 15px 0;
}
code {
	color: white;
	background: #232323;
	border: 1px solid #ccc;
	font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
	font-size: 0.7em;
	padding: 4px 5px 3px 5px;
	margin: 0 3px;
}
pre code{
	padding: 10px 0px 10px 10px;
	font-size: 0.9em;
}
#left-col:hover>header{
	opacity: 1;
}

/* Tables */
table {
	border-collapse:collapse;
	margin-top: 0em;
	width: 100%;
	border-bottom: 2px solid black;
}

table caption {
	text-align: left;
	background: #AFA;
	margin-bottom: 0.5em;
	text-align: center;
}

thead th {
	text-align: left;
	border-bottom: 2px solid black;
	font-size: 100%;
	vertical-align: bottom;
}

tbody th {
	background: #eee;
	font-weight: bold;
}

td, th {
 padding: 0.3em 0.3em 0.3em 0.3em;
 vertical-align: top;
}

td, tbody th {
 border: 1px solid #ccc;
}

td h1, td h2, td h3 {
	font-size: 110%
}

tfoot td {
	font-style: italic;
	text-align: center;
}